@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
    .middlebody {
      flex-direction: column;
    }
    .category{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .images{
      width: 70px;
      height: 50px;
    }
   
  }
  @media screen and (max-width: 650px) {
  .mrg{
    height: 108px;
    align-self:center;
    place-content: center;
  }
}
  @media screen and (max-width: 260px) {
    .nvbar{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      padding: 5px;
    }
  }  
